In [14]:
import sqlite3

connection = sqlite3.connect("identifier.sqlite")

## Define data

In [15]:
cursor = connection.cursor()

## Queries

In [16]:
##checking connection
cursor.execute("select * from customers")
print(cursor.fetchall())

[(1, 'John Doe', 'john@example.com', 'North', '2021-01-15'), (2, 'Jane Smith', 'jane@example.com', 'West', '2021-03-22'), (3, 'Alice Johnson', 'alice@example.com', 'East', '2021-05-10'), (4, 'Bob Williams', 'bob@example.com', 'North', '2021-07-05'), (5, 'Carol Lee', 'carol@example.com', 'South', '2021-09-01')]

### Retrieve the total number of orders placed by each customer using a JOIN between customers and orders tables.
for getting the number of orders for each customer i used left join for merging nessecary columns and for counting the exact number of orders i used aggregation COUNT for counting num of customer_id appearance in orders table

In [17]:
cursor.execute("select customers.name, count(orders.order_id) from customers left join  orders on customers.customer_id = orders.customer_id group by customers.name")

for customer in cursor.fetchall():
    print(f"{customer[0]} -- {customer[1]}")

Alice Johnson -- 1
Bob Williams -- 1
Carol Lee -- 0
Jane Smith -- 1
John Doe -- 2

### Find the total sales for each product by joining the order_items and products tables.
for finding total sales for each product i used left join for merging product name with the total sale for each
total amount of sales per product was calculated by : num of order for specific product * price for product

In [18]:
cursor.execute("select products.product_name, count(order_items.product_id)*products.price from products left join order_items on products.product_id = order_items.product_id group by products.product_name, products.price")

for product in cursor.fetchall():
    print(f"{product[0]} -- {product[1]}")

Coffee Maker -- 85
Headphones -- 300
Laptop -- 3600
Smartphone -- 800
Vacuum Cleaner -- 0

### List all customers who have made at least 2 purchases.

In [19]:
cursor.execute("select customers.name, count(orders.customer_id) as c from customers left join orders on customers.customer_id = orders.customer_id group by customers.name having c > 1")

for customer in cursor.fetchall():
    print(f"{customer[0]} -- {customer[1]} orders")

John Doe -- 2 orders

### Display all orders placed in the last 6 months.
for getting orders that was places in the last 6 month i used date() function that identifies current date and substracts 6 months from it

In [20]:
cursor.execute("select order_id, order_date from orders where date(order_date) >= date('now', '-6 months')")
orders = cursor.fetchall()
if len(orders)>0:
    for order in orders:
        print(f"{order[0]} -- {order[1]}")
else:
    print("no orders for the last 6 month")

no orders for the last 6 month

In [22]:
connection.close()

### Finish :)